/* style.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; /* Light gray background */
}

/* Navigation styles */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  border-bottom: 2px solid #222; /* Darker border bottom */
}

nav:hover {
  background-color: #444; /* Darker background on hover */
}

nav h1 {
  font-size: 24px;
  color: #fff; /* White text color */
  text-transform: uppercase; /* Uppercase text */
}

/* Container styles */
.movie-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive grid */
  gap: 20px;
}

/* Card styles */
.movie-card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff; /* White background for cards */
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-card-content {
  padding: 15px;
}

.movie-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333; /* Dark text color */
}

.movie-card p {
  font-size: 16px;
  color: #666; /* Gray text color */
}

/* Pagination styles */
#pagination-container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
